<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="styles.css">
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
        <!--<a class="navbar-brand" href="#">Start Bootstrap</a>-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="nav-bar">
                <button class="button"><span><a href="index.html">Home</a></span></button>
                <button class="button"><span><a href="profiles.html">Profiles</a></span></button>
                <button class="button"><span><a href="quotes.html">Quotes</a></span></button>
                <img src="logo.png">
            </div>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div id="app" class="container">

    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="font-weight-light">Quote Generator!</h1>
            <p class="lead">All the best quotes and moments from the show about nothing.</p>
            <button class="button" v-on:click="seinfeld"><span>Get a Random Quote!</span></button>
            <div v-if="loading">
                <p>Loading...</p>
            </div>
            <div v-else>
                <p>"{{current.quote}}"</p>
                <p>     - {{current.author}}</p>
                <p>Season: {{current.season}}</p>
                <p>Episode: {{current.episode}}</p>

            </div>
            <div class="video-container">
                <center>
                    <iframe src="https://www.youtube.com/embed/mKsUlf20DF0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </center>
            </div>

            <!--<h3>Add a Comment</h3>-->
            <!--<form v-on:submit.prevent="addComment">-->
                <!--<input v-model="addedName" placeholder="Name"></p>-->
                <!--<textarea v-model="addedComment"></textarea>-->
                <!--<br />-->
                <!--<button type="submit">Comment</button>-->
            <!--</form>-->
            <!--<h3>Comments</h3>-->
            <!--<div v-for="comment in comments">-->
                <!--<hr>-->
                <!--<p>{{comment}}</p>-->
                <!--<p><i>{{name}}</i></p>-->
            <!--</div>-->

            <div style="height: 200px"></div>
            <p class="lead mb-0">Thanks for visiting our site!!<br><br>Here is the <a href="https://seinfeld-quotes.herokuapp.com/quotes">link</a> to the Seinfeld API!</p>
            <p>Copyright Christian Bain 2019</p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<script src="script.js"></script>

</body>
</html>