/* Set a background image by replacing the URL below */
body {
    background: url('https://vignette.wikia.nocookie.net/seinfeld/images/5/50/Wiki-background/revision/latest?cb=20130314190005') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.container {
    background-color: white;
    width: 65%;
    margin: 0 auto;
    padding: 25px;
}